button{
    background-color: blueviolet;
    border-radius: 5px;
    font-style: italic;
    font-size: medium;
    color: white;
    text-align: center;
    padding: 15px;
    display: inline-block;

    transition: transform 2s cubic-bezier(0.15, 1, 0.5, 1), background-color 0.6s ease;
    
}

button.frightened{
    background-color: grey;
}

button.curious{
    background-color: green;
}